.seat-bg{
    background: #333; margin: 0px; padding: 0px;
}
.chart-bg{
    width: 2099px; height: 2556px; margin: 0 auto; border: 1px solid #ccc; background: #fff; text-align:center;
}
.sec-border{
    width:135px; height:98px; display:inline-block; border:1px solid; float:left; color:#000;
}

.sec-none-head{
    display: inline-block;
    float: left;
    font-size: 20px;
    height: 37px;
    padding: 2% 0 0;
    width: 52px;
}
.sec-none-empty{
    width:52px; height:24px; float:left; display:inline-block;
}
.com-section{
    width:2100px; float:left;
}
.com-section-heading{
    width:50%; float:left; font-size:18px;
}
.chart-heading{
    width:100%; text-align:center; font-size:32px;
}
.chart-heading1{
    width:100%; text-align:center; 
}
.clear{
    clear:both !important;
}
.clear1{
    clear:both !important;
    margin-bottom:20px !important;
}
.sec-border p{
    font-size:16px; font-weight:600; color:#FFF; line-height:40px;
}
.color-section {  
    height: 40px;
    margin: 0 auto;
    text-align: center;
}
.view-name{ font-size:13px; overflow:hidden; height:22px;}
.view-name-guest{ height:14px;  overflow:hidden; font-size:11px;}
.view-name-text{ font-size: 14px; height:16px; margin-top:4px;}
.initial_box{
    width:100%;
    float:left;
    margin-top:4px;
}
.initial_left{
    width:90px;
    float:left;
}
.initial_right{
    float: left;
    width: 44px;
}
.initial_right_text{
    /* border-left: 2px solid #000;
border-top: 2px solid #000; */
    border: 2px solid #000; 
    font-size: 16px;
    height: 15px;
    padding: 0px 19px 0px 8px;
    margin-top:-6px;
}
.initial_left span{
    width:90%;
    float:left;
    text-align:left;
    margin-left:8px;
    font-size:14px;
    height:16px;
}
.sec-none{
    width:136px; display:inline-block; float:left; font-size:20px; text-align:center;
}

@media screen and (min-width: 5100px) and (max-width: 6753px)
{
    .sec-none{
        width:131px; display:inline-block; float:left; font-size:20px;
    }
}

@media screen and (min-width: 4497px) and (max-width: 5100px)
{
    .sec-none{
        width:142px; display:inline-block; float:left; font-size:20px;
    }
}

@media screen and (min-width: 3372px) and (max-width: 4496px)
{
    .sec-none{
        width:140px; display:inline-block; float:left; font-size:20px;
    }
}

@media screen and (min-width: 2698px) and (max-width: 3371px)
{
    .sec-none{
        width: 138.5px; display:inline-block; float:left; font-size:20px;
    }
}

@media screen and (min-width: 1934px) and (max-width: 2697px)
{
    .sec-none{
        width: 138.5px; display:inline-block; float:left; font-size:20px;
    }
}

@media screen and (min-width: 1686px) and (max-width: 1933px)
{
    .sec-none{
        width: 138.5px;  display:inline-block; float:left; font-size:20px;
    }
}

@media screen and (min-width: 1350px) and (max-width: 1685px)
{

    .sec-none {
        display: inline-block;
        float: left;
        font-size: 20px;
        width: 138px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1349px)
{
    .sec-none{
        width: 138.5px; display:inline-block; float:left; font-size:20px;
    }
}

@media screen and (min-width: 150px) and (max-width: 768px)
{
    .sec-none{
        width: 138.5px; display:inline-block; float:left; font-size:20px;
    }
}


